<ion-view title="Proyectos" class="mov-background" hide-back-button="true">





  <ion-content has-header="true" overflow-scroll="false">

    <div class="full-size">

      <ion-list>

        <a class="item item-thumbnail-left" ng-click="goToProyecto(1)">
          <img src="http://cdn.socialab.com/uploads/Idea/f054cd_DSC_9960.jpg&w=220&height=220&crop-to-fit">
          <h2>Lázaro X1</h2>
          <p>Por Pablo.</p>
        </a>

        <a class="item item-thumbnail-left" ng-click="goToProyecto(1)">
          <img src="http://cdn.socialab.com/uploads/Idea/af6fa9_Lamina%20Thumbie%20para%20Innovat%C3%B3n-01.jpg&w=220&height=220&crop-to-fit">
          <h2>Thumbie</h2>
          <p>Por Camila.</p>
        </a>

        <a class="item item-thumbnail-left" ng-click="goToProyecto(1)">
          <img src="http://cdn.socialab.com/uploads/Idea/f807ce_titulo%202.jpg&w=220&height=220&crop-to-fit">
          <h2>TRISOMIE 21</h2>
          <p>Por Baimey.</p>
        </a>

        <a class="item item-thumbnail-left" ng-click="goToProyecto(1)">
          <img src="http://cdn.socialab.com/uploads/Imagen/5904ea_IMG_6975.JPG&w=220&height=220&crop-to-fit">
          <h2>Blindless Lector Inteligente</h2>
          <p>Por Cristian.</p>
        </a>

        <a class="item item-thumbnail-left" ng-click="goToProyecto(1)">
          <img src="http://cdn.socialab.com/uploads/Imagen/1efa9d_mockup.jpg&w=220&height=220&crop-to-fit">
          <h2>Rehapp</h2>
          <p>Por María Francisca.</p>
        </a>

        <a class="item item-thumbnail-left" ng-click="goToProyecto(1)">
          <img src="http://cdn.socialab.com/uploads/Idea/611418_590fd7_Over%20Mind.jpg&w=220&height=220&crop-to-fit">
          <h2>OVER MIND</h2>
          <p>Por Rodrigo.</p>
        </a>

      </ion-list>

    </div>

  </ion-content>

</ion-view>
